*{
    margin-left: 0;
}
body{
    background-color: #F0F8FF;
}
a:link{
    text-decoration: none;
}
.container{
    grid-template-columns: repeat(1, 1fr);
    display: grid;
}
.navlogo{
    width: 2em;
    justify-content: start;
    display: flex;
    flex: 1;
    position: relative;
    top: 1em;
}
.logo{
    width: 2em;
    height: 3em;
    position: relative;
    left: 3em;
}
.nav{
    display: flex;
}
.nav-items{
    position: relative;
    width:45em;
    top: 1em;
    display: flex;
    font-size: 1.2em;
 

}
 .tools{
    margin-left: 4em;

 }
 .syn{
    margin-left: 3em;
 }
.V{
    font-weight: 600;
    color: rgb(12, 35, 129);
}
.Half-of-page{
    position: relative;
    top: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.black{
    background-color: black;
    border-radius: 1em;
    position: relative;
    bottom: 12px;
    right: 12px;
    width: 18.5em;
    height: 8em;
}
.black >h1{
    color: white;
    position: relative;
    left: 12px;
}
.text > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.markup >h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.black >p{
    text-align: center;
}
.but{
    padding: 12px 20px;
  border-radius: 5px;
  border-color: rgb(64, 100, 221);
  color: rgb(64, 100, 221) ;
}
.R{
    font-size: 1.2em;
    font-family:serif;
    
}
.note1{
    position: relative;
    left: 3em;
}
.T{
    margin-top:9em;

}
.R > h1{
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.N{
    left: 2em;
}
.beef{
    padding: 9px 14px;
    background-color: rgb(40, 116, 237) ;
    border-radius: 6px;
    border: none;
    color: #F0F8FF;
    font-weight: 600;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    color:rgb(171, 180, 200);
}
.pic3{
    position: relative;
    left: 2em;
    width: 25em;
}
.note3{
    position: relative;
    left: 3em;
    top: 2em;
}
.note4{
    left: 3em;
    position: relative;
    width: 25em;
}
.cloud-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 7em;
    left: 2em;

    width: 92em;

}
.bluepage{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    position: relative;
    top: 15em;
    left: 0;
    background-color: rgb(8, 152, 255);
    height: 51em;
}
.cash > p{
    bottom: 3em;
}
.O{
    background-color: #F0F8FF ;
    display: grid;
    grid-template-columns: repeat(1 1fr);
    height: 37em;
    border-radius: 1em;
    width: 17em;
    padding: 12px;
    position: relative;
    top: 2em;
}
.own{
    justify-content: center;
    display: flex;
    color: white;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fivemarkups{
    width: 17em;
}
.markup{
    display: flex;
    gap: 16px;
}
.money{
    display: flex;
}
.money > p{
      font-size: 1.3em;
}
.Them{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    left: 7em;
    width: 80em;

}
.cash{
    position: relative;
    left: 5em;
}
.Clouds{ 
    width: 27em;
}

.Section{
    position: relative;
    top: 19em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.costumeritself{
    text-align: center;
}
.momentum{
    width: 1em;
}
.fourbox{
    position: relative;
    top: 3em;
    left: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90em;
}
.fournames{
    width: 30em;
    background-color: white;
    position: relative;
    top: 2em;
    padding: 10px;
    height: 15em;
    box-shadow: 6px 6px 6px rgb(198, 196, 196);
}
.Storm{
    position: relative;
    bottom: 1em;
}
.U{
    position: relative;
    top: 5em;
}
.E{
    position: relative;
    color: rgb(150, 166, 200);
    bottom: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.I{
    position: relative;
    top: 3.5em;
    left: 39em;
    padding-right: 38px;
    padding-left: 38px;
    text-align: center;
    border-color: white; 
     background-color: rgb(8, 152, 255);
     color: white;
     font-weight: 800;
}
.P{
    position: relative;
    left: 3em;
}
.M{
    left: 5em;
    position: relative;
}
.Service{
    background-color: rgb(8, 152, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 30em;
}
.worrying >h1 {
    color: white;
    font-size: 1.7em ;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.worrying > p{
    font-size: 16px;
}
.Sec2{
    position: relative;
    top: 37em;
}
.menu-and-rest{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.menu-links-overview{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}
.redes{
    position: relative;
    left: 15em;
    width: 15em;
}
.menu-links-overview{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.F{
    position: relative;
    width: 2em;
    height: 3em;
}
.log{
    position: relative;
    left: 3em;
    top: 1.3em;
}